* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	.colorNavbar {
		background-color: rgb(15, 11, 241);
		.btn-outline-success {
			border-color: rgba(214, 252, 78, 1);
			&:hover {
				background-color: rgba(214, 252, 78, 1);
				color: rgb(15, 11, 241);
			}
		}
		.navbar-nav {
			.nav-item {
				display: inline-block;
				margin: 0 15px;
			}
		}
	}
	.navbar-toggler {
		border-color: rgba(214, 252, 78, 1);
	}
	.dropdown {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		text-decoration: solid;
	}
}
header .colorNavbar .navbar-nav .nav-link,
header .colorNavbar .btn-outline-success {
	color: rgba(214, 252, 78, 1);
}
