@mixin label {
  display: block;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 5px;
  color: #f6f1f1;
}
label {
    @include label;
}
@mixin btnCompetencias {
  background-color: rgb(44, 223, 44);
  color: #fff;
}
.btnCompetencias {
  @include btnCompetencias; 
}

